[submodule "vendor/submodules/DirectXTK"]
	path = vendor/submodules/DirectXTK
	url = https://github.com/microsoft/DirectXTK
[submodule "vendor/spdlog"]
	path = vendor/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
