[submodule "vendor/submodules/DirectXTK"]
	path = vendor/submodules/DirectXTK
	url = https://github.com/microsoft/DirectXTK
[submodule "vendor/submodules/spdlog"]
	path = vendor/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/submodules/assimp"]
	path = vendor/submodules/assimp
	url = https://github.com/assimp/assimp.git
